<div class="top-container">
  <h1 class="myname">Ben Neslihan Yılmaz</h1>
  <p class="occupation">Grafik Tasarımcısı ve Animatör</p>
  <object
    class="mountain"
    data="../../assets/land.svg"
    width="300"
    height="300"
  ></object>
</div>
<div class="middle-container">
  <div class="profile">
    <img src="../../assets/neslihan-cropped.png" alt="" />
    <h2 style="padding-top: 20px; padding-bottom: 20px">Hakkımda</h2>
    <p class="text-about">
      Ben bir grafik tasarımcıyım ve yüksek kalitede logo, tasarım, marka
      kimliği oluşturabiliyorum. Logo tasarımı ve marka çalışmalarının yanı
      sıra, aynı zamanda yetenekli bir illüstratör ve çizimciyim. Adobe
      Photoshop, Illustrator, In Design ve Coral Draw gibi grafik tasarım
      programları hakkında da geniş bilgiye sahibim ve etkili olarak
      kullanmaktayım. Bu araçlar yüksek kaliteli tasarımları hızlı ve verimli
      bir şekilde oluşturmamı sağlıyor. Grafik tasarımı benim icin sadece bir iş
      değil aynı zamanda bir tutku. Bu sayede, işletmelerin her türlü tasarım
      gereksinimlerini kaliteli hikaye anlatımı yoluyla karşılayacagımı ve
      büyümelerine yardımcı olacağımı düşünüyorum.
    </p>
  </div>
</div>

<div class="contact-me">
  <h2>İletişim</h2>
  <h3 style="color: #fff">Şu anda tam zamanlı, yarı zamanlı çalışabilirim.</h3>
  <p class="contact-message">
    Asağıdaki iletişim bilgilerinden benimle temasa geçebilirsiniz.
  </p>
  <a
    class="btn contactbutton"
    href="mailto:gvnc.neslihan@icloud.com"
    style="color: #fff; margin-bottom: 2%; width: 30%; text-size: 1.4rem"
    >MESAJ GÖNDER</a
  >
</div>
